{template common/header}

<form class="searchResult" action="/plugin.php?id=data_scan" method="get">
<input type="hidden" name="id" value="data_scan">
<span>学科:</span>
<select name="subjectName">
    <option value="0">全部</option>
    <!--{loop $SUBJECT $key $value}-->

    <!--{if $key==$subjectName}-->
    <option value="{$key}" selected>$value</option>
    <!--{else}-->
    <option value="{$key}">$value</option>
    <!--{/if}-->

    <!--{/loop}-->
</select>
<span>学校名搜索：</span>
<input type="text" name="name" value="{$name}" placeholder="可不填">
<input type="submit" value="确认">
</form>

<!--{loop $contents $key $value}-->
<table class="result" border="1px">
    <tr>
        <!--{eval $count = count($value)+1;}-->
        <th rowspan="{$count}" class="subjectName">$SUBJECT[$key]</th>
    </tr>
    <!--{loop $value $k $v}-->
    <tr>

        <td class="levelName">$k</td>
        <td>
        <!--{loop $v $string}-->
        $string<br />
        <!--{/loop}-->
        </td>

    </tr>
    <!--{/loop}-->
</table>
<!--{/loop}-->

<br />


{template common/footer}
