{template common/header}
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="source/plugin/data_scan/template/jquery-ui.min.js"></script>
<script>var jq = jQuery.noConflict();</script>


<div class="container">


    <!--{if empty($contents)}-->

    <form class="searchResult" action="/plugin.php?id=data_scan" method="get">
    <input type="hidden" name="id" value="data_scan">
    <span>输入你的学校名：</span>
    <input id="schoolName" type="text" name="name" value="{$name}">
    <input id="cBut" type="submit" value="确认">
    <!--{if $empty}-->
    <div class="err">
        <p>您输入的学校错误或未上榜</p>
    </div>
    <!--{/if}-->
    </form>

    <h3>高校前五排名：</h3>
    <table class="topFive">
        {eval $i = 1;}
        {loop $topFive $sName $sScore}
        <tr>
            <td>
                {if $i == 1}
                <img src="source/plugin/data_scan/template/img/01.png" style="width:25px; height:25px;">
                {elseif $i ==2 }
                <img src="source/plugin/data_scan/template/img/02.png" style="width:25px; height:25px;">
                {elseif $i ==3 }
                <img src="source/plugin/data_scan/template/img/03.png" style="width:25px; height:25px;">
                {else}
                {$i}
                {/if}
            </td>
            <td><a href="/plugin.php?id=data_scan&name={$sName}">{$sName}</a></td>
            {eval $i++;}
        </tr>
        {/loop}
        <tr>
            <td></td>
            <td>...</td>
        </tr>
    </table>
    <!--{else}-->

    <span>{$name}</span>
    <p>学科综合评分： {$schoolScores[$name]}</p>
    <p>超越了 <span class="sort">{$sort}</span> 的大学！</p>

    <table class="result" border="1px">
        <!--{loop $contents $key $value}-->
        <tr>
            <td>{$SUBJECT[$key]}</td>
            <td>{$value}</td>
        </tr>
        <!--{/loop}-->
    </table>

    <div class="backIndex">
        <a href="/plugin.php?id=data_scan"><span>重新查询</span></a>
    </div>

    <!--{/if}-->
</div>

<script>
 jq(function() {
   var schoolName = [
     <!--{loop $schoolName $name}-->
     "{$name}",
     <!--{/loop}-->
   ];
   jq( "#schoolName" ).autocomplete({
     source: schoolName
   });
 });
 </script>
{template common/footer}
