{template data_scan:header}

<div class="main">
  <div class="container">
      <div class="col-xs-12 col-xs-offset-2 contain">
          <!--{if empty($contents)}-->
          <div class="schoolSearch">
              <form class="searchResult center-block" action="/plugin.php?id=data_scan" method="get">
              <input type="hidden" name="id" value="data_scan">
              <input id="schoolName" type="text" name="name" value="{$name}" placeholder="输入你的学校名">
              <input id="cBut" class="btn btn-default" type="submit" value="确认">
              </form>
          </div>

          <h3>高校前五排名：</h3>
          <table class="topFive" border="1px">
              {eval $i = 1;}
              {loop $topFive $sName $sScore}
              <tr>
                  <td>
                      {if $i == 1}
                      <img src="source/plugin/data_scan/template/img/01.png" style="width:25px; height:25px;">
                      {elseif $i ==2 }
                      <img src="source/plugin/data_scan/template/img/02.png" style="width:25px; height:25px;">
                      {elseif $i ==3 }
                      <img src="source/plugin/data_scan/template/img/03.png" style="width:25px; height:25px;">
                      {else}
                      {$i}
                      {/if}
                  </td>
                  <td>$sName</td>
                  {eval $i++;}
              </tr>
              {/loop}
              <tr>
                  <td></td>
                  <td>...</td>
              </tr>
          </table>

          <!--{else}-->

          <span>{$name}</span>
          <p>学科综合评分： {$schoolScores[$name]}</p>
          <p>超越了 <span class="sort">{$sort}</span> 的大学！</p>

          <table class="result" border="1px">
              <!--{loop $contents $key $value}-->
              <tr>
                  <td>{$SUBJECT[$key]}</td>
                  <td>{$value}</td>
              </tr>
              <!--{/loop}-->
          </table>

          <div class="backIndex">
              <h3>识别二维码</h3>
              <h3>查询其他学校排名</h3>
          </div>

          <!--{/if}-->
      </div>
  </div>
</div>
<script>
    var url = window.location.host;
    var protocol = window.location.protocol;
    $('.backIndex').qrcode({
        width: 150,
        height: 150,
        text: protocol + "//" + url + "/plugin.php?id=data_scan"
    });
</script>
</body>
</html>
