{template data_scan:header}

<div class="main">
  <div class="container">
      <div class="col-xs-12 col-xs-offset-2 contain">
          <!--{if empty($contents)}-->
          <div class="schoolSearch">
              <form class="searchResult center-block" action="/plugin.php?id=data_scan" method="get">
              <input type="hidden" name="id" value="data_scan">
              <input id="schoolName" type="text" name="name" value="{$name}" placeholder="输入你的学校名">
              <input id="cBut" class="btn btn-default" type="submit" value="确认">
              </form>
          </div>
          <!--{else}-->

          <span>{$name}</span>
          <p>学科综合评分： {$schoolScores[$name]}</p>
          <p>超越了 <span class="sort">{$sort}</span> 的大学！</p>

          <table class="result" border="1px">
              <!--{loop $contents $key $value}-->
              <tr>
                  <td>{$SUBJECT[$key]}</td>
                  <td>{$value}</td>
              </tr>
              <!--{/loop}-->
          </table>

          <div class="backIndex">
              <a href="/plugin.php?id=data_scan">首页二维码</a>
          </div>

          <!--{/if}-->
      </div>
  </div>
</div>

</body>
</html>
